@page
@model VentasNEXUS.Pages.Sales.CreateModel

@{
    ViewData["Title"] = "Comprar";
}
<link rel="stylesheet" href="~/css/productos.css">
<h1>Cliente:@Model.nameClie</h1>
<h4>Productos Comprados</h4>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Descripción</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model.listaProductos_S)
        {
            <tr>
                <td>@producto.Name</td>
                <td>@producto.Price</td>
                <td>@producto.Description</td>

            </tr>
        }
    </tbody>
</table>
<h3>Total a Pagar: @Model.suma</h3>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{}
}
