@page
@model VentasNEXUS.Pages.Client.EditModel

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/fondos/clicre.css">
<h1>EDITAR REGISTRO DE USUARIO</h1>
<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Client.ID" />
            <div class="form-group">
                <label asp-for="Client.Name" class="control-label"></label>
                <input asp-for="Client.Name" class="form-control" />
                <span asp-validation-for="Client.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.LastName" class="control-label"></label>
                <input asp-for="Client.LastName" class="form-control" />
                <span asp-validation-for="Client.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Nit" class="control-label"></label>
                <input asp-for="Client.Nit" class="form-control" />
                <span asp-validation-for="Client.Nit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
