@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/estilos.css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">TIENDA JUMPGAMES</h1>
        <h2 class="display-5">NEXUS CODE</h2>
        <p class="font-weight-bold">INTEGR ANTES:</p>
        <ul class="list-unstyled">
            <li class="font-weight-bold">ANGOLA LARICO ISRAEL CRISTHIAN</li>
            <li class="font-weight-bold">CONDE QUISPE YOSELIN MACIEL</li>
            <li class="font-weight-bold">CORIA TORREZ ESTEBAN ISMAEL</li>
            <li class="font-weight-bold">VARGAS YUJRA BRAYAN MARCELO</li>
        </ul>
        <p class="font-weight-bold">PROGRAMACION WEB III</p>
        <p class="font-weight-bold">2023-II</p>
        <video autoplay muted loop id="video-background">
            <source src="~/css/fondos/fondo1.mp4" type="video/mp4">
            Tu navegador no admite la reproducción de videos.
        </video>
    </div>
</body>
</html>





