@page
@model VentasNEXUS.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/fondos/prod.css">
<h1>CREAR PRODUCTO</h1>

<h4>Productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div class="form-group">
                <label asp-for="Products.Name" class="control-label"></label>
                <input asp-for="Products.Name" class="form-control" />
                <span asp-validation-for="Products.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.Price" class="control-label"></label>
                <input asp-for="Products.Price" class="form-control" />
                <span asp-validation-for="Products.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.Description" class="control-label"></label>
                <input asp-for="Products.Description" class="form-control" />
                <span asp-validation-for="Products.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.Stock" class="control-label"></label>
                <input asp-for="Products.Stock" class="form-control custom-input" />
                <span asp-validation-for="Products.Stock" class="text-danger"></span>
            </div>
            <div class="custom-form-group">
                <button type="submit" class="btn btn-primary custom-btn">Crear</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
